.todo-box {
  margin: 10rem auto;
  background-color: rgba(218, 165, 32, 0.499);
  width: 600px;
  padding: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
li {
  margin-bottom: 1rem;
  list-style: none;
  margin-left: -2.6rem;
}
