.btn {
  font-size: 2rem;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  margin-right: 1rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.btn:active {
  transform: scale(0.95);
}
